---
import SenateHeroLogo from "./SenateHeroLogo.astro";
import SocialMediaButtons from "../socialMedia/SocialMediaButtons.astro";
import ArrowRight from "../icons/ArrowRight.astro";
---

<section class="flex w-full flex-col items-center h-screen bg-secondary pt-16">
	<div class="flex w-full px-3 py-4 bg-accent justify-center">
		<p class="mx-auto body-02">
			เนื่องจากความไม่ชัดเจนของ <a
				class="underline"
				target="_blank"
				rel="noopener noreferrer"
				href="https://ratchakitcha.soc.go.th/documents/28301.pdf"
				>ระเบียบกกต. ที่ประกาศช่วง 20.40 ของวันที่ 26 เมษายน 2567</a
			> และมีผลบังคับใช้ภายในสี่ชั่วโมง เราจึงปกป้องสิทธิของผู้สมัครทุกคน และนำข้อมูลออกจากระบบออนไลน์ก่อนระเบียบมีผลบังคับใช้
		</p>
	</div>
	<div
		class="flex-1 flex flex-col md:flex-row items-center justify-center gap-10"
	>
		<SenateHeroLogo />
		<div class="flex items-center mx-auto">
			<div class="flex flex-col gap-5">
				<div class="text-center body-02">
					<p class="text-neutral">
						สว. ระบบใหม่ “แบ่งกลุ่มอาชีพ” และ “เลือกกันเอง”
					</p>
					<p class="font-bold text-primary">
						ประชาชนก็เลือกได้ ถ้าเข้าไปสมัคร!
					</p>
				</div>

				<div class="flex flex-col justify-center gap-1">
					<a class="btn w-full bg-primary text-base-100" href="/checklist"
						>ฉันสมัคร สว. ได้ไหม? <ArrowRight className="fill-base-100" />
					</a>
				</div>

				<div class="flex justify-center">
					<SocialMediaButtons className="fill-[#000]" color="#000" />
				</div>
			</div>
		</div>
	</div>
	<a
		class="static md:absolute bottom-0 flex flex-col justify-center text-primary body-01 font-bold items-center space-y-1 p-1 mb-4"
		href="#meet-the-campaign"
		><span>รู้จักแคมเปญ</span>
		<svg width="36" height="16" viewBox="0 0 36 16" fill="none">
			<path d="M1.5 1L18 14L34.5 1" stroke="currentColor" stroke-width="2"
			></path>
		</svg>
	</a>
</section>
