---
import SenateHeroLogo from "./SenateHeroLogo.astro";
import SocialMediaButtons from "../socialMedia/SocialMediaButtons.astro";
import OpenInNew from "../icons/OpenInNew.astro";
import ArrowRight from "../icons/ArrowRight.astro";

const registered_senates = 0;
const updated_at = new Date("2023-03-16").toLocaleString("th-TH", {
	year: "numeric",
	month: "short",
	day: "numeric",
	timeZone: "Asia/Bangkok",
});
---

<section class="flex items-center justify-center h-screen bg-secondary">
	<div class="flex flex-col md:flex-row gap-10 items-center mt-10 md:mt-0">
		<SenateHeroLogo />
		<div class="flex items-center mx-auto">
			<div class="flex flex-col gap-5">
				<div class="text-center body-02">
					<p class="text-neutral">
						สว. ระบบใหม่ “แบ่งกลุ่มอาชีพ” และ “เลือกกันเอง”
					</p>
					<p class="font-bold text-primary">
						ประชาชนก็เลือกได้ ถ้าเข้าไปสมัคร!
					</p>
				</div>

				{
					import.meta.env.PUBLIC_BUILD_TARGET !== "production" && (
						<div class="text-center">
							<p class="body-01 text-neutral">มีผู้แสดงตัวเป็นผู้สมัครแล้ว</p>
							<p class="heading-responsive-01 text-neutral leading-[44px]">
								{registered_senates} คน
							</p>
							<p class="body-03 text-neutral">อัปเดตข้อมูล {updated_at}</p>
						</div>
					)
				}

				<div class="flex flex-col justify-center gap-1">
					<a class="btn w-full bg-primary text-base-100" href="/checklist"
						>ฉันสมัคร สว. ได้ไหม? <ArrowRight className="fill-base-100" />
					</a>
					<a
						class="btn w-full bg-primary text-base-100"
						href="https://forms.gle/AiPQPxvqFex2a7Hk8"
						>แสดงตัวเป็นผู้สมัคร <OpenInNew className=" fill-base-100" />
					</a>
					{
						import.meta.env.PUBLIC_BUILD_TARGET !== "production" && (
							<button class="btn w-full bg-primary text-base-100">
								ค้นหาผู้สมัคร
							</button>
						)
					}

					<a
						class="mx-auto text-accent underline text-[16px]"
						href="#meet-the-campaign">รู้จักแคมเปญ</a
					>
				</div>

				<div class="flex justify-center">
					<SocialMediaButtons className="fill-[#000]" color="#000" />
				</div>
			</div>
		</div>
	</div>
</section>
