---
import SenateHeroLogo from "./SenateHeroLogo.astro";
import SocialMediaButtons from "../socialMedia/SocialMediaButtons.astro";
import OpenInNew from "../icons/OpenInNew.astro";
import { getCandidates } from "../../data/get_candidates";
import { getEvents } from "../../data/get_events";
import ArrowRight from "../icons/ArrowRight.astro";

const candidates = await getCandidates();
const upcomingEventsCount = (await getEvents()).filter(
	({ date }) => date.getTime() > new Date().getTime(),
).length;

const registeredCandidates = candidates.length;
const passedCandidated = candidates.filter(
	({ isEliminated }) => !isEliminated,
).length;
const updated_at = new Date().toLocaleString("th-TH", {
	year: "numeric",
	month: "short",
	day: "numeric",
	timeZone: "Asia/Bangkok",
});
---

<section
	class="flex w-full flex-col items-center min-h-screen bg-secondary pt-16"
>
	<!-- <div class="flex w-full p-3 bg-accent justify-center mb-3">
		<p class="mx-auto body-02 text-center">
			ทีมงาน senate67 กำลังตรวจสอบกับ <a
				class="underline"
				target="_blank"
				rel="noopener noreferrer"
				href="https://github.com/PanJ/senate67">รายชื่อผู้สมัครทางการของ กกต.</a
			> และคัดชื่อที่ไม่ได้สมัครออกจากระบบ สำหรับผู้ที่กรอกข้อมูลใหม่จะดำเนินการตรวจสอบและแสดงผลภายใน
			1 วัน
		</p>
	</div> -->
	<div
		class="flex-1 flex flex-col md:flex-row items-center justify-center gap-10"
	>
		<SenateHeroLogo />
		<div class="flex items-center mx-auto">
			<div class="flex flex-col gap-5">
				<div class="text-center body-02">
					<p class="text-neutral">สว.ระบบใหม่</p>
					<p class="font-bold text-primary">
						ผู้สมัครต้องเลือกกันเอง ต้องทำความรู้จักกันเอง
					</p>
				</div>

				<div class="text-center">
					<p class="body-01 text-neutral">มีผู้ประกาศตัวให้คนอื่นรู้จักแล้ว</p>
					<p class="heading-responsive-01 text-neutral leading-tight">
						{registeredCandidates.toLocaleString()} คน
					</p>
					<p class="heading-responsive-03 text-primary leading-tight">
						เข้ารอบ {passedCandidated.toLocaleString()} คน
					</p>
					<p class="body-03 text-neutral mt-1">อัปเดตข้อมูล {updated_at}</p>
				</div>

				<div class="flex flex-col justify-center gap-1 w-72">
					<a
						class="btn w-full bg-primary text-base-100"
						href="/provincial-candidates"
					>
						รายชื่อผู้ผ่านเข้ารอบระดับจังหวัด <ArrowRight />
					</a>
					<a
						class="btn w-full bg-primary text-base-100"
						href="https://forms.gle/AiPQPxvqFex2a7Hk8"
						target="_blank"
						rel="noopener noreferrer"
						>แสดงตัวเป็นผู้สมัคร <OpenInNew className="fill-base-100" />
					</a>
					{
						upcomingEventsCount > 0 && (
							<a class="btn w-full bg-primary text-base-100" href="/#events">
								ดูตารางกิจกรรม
							</a>
						)
					}
					<a
						class="btn w-full bg-primary text-base-100"
						href="https://forms.gle/UPhNQLN9SmzSXAC9A"
						target="_blank"
						rel="noopener noreferrer"
						>รายงานผลการสังเกตการณ์ <OpenInNew className=" fill-base-100" />
					</a>
					<a
						class="btn btn-primary btn-outline hover:text-base-100 w-full"
						href="/candidates"
					>
						ค้นหาผู้สมัคร <ArrowRight />
					</a>
					<p class="font-bold text-[#ec672c] text-center m-2">
						ผู้สมัครขอแก้ไขข้อมูลได้ โดยแจ้งมาทางอีเมล senate2567@gmail.com
					</p>
				</div>
				<div class="flex justify-center">
					<SocialMediaButtons className="fill-[#000]" color="#000" />
				</div>
			</div>
		</div>
	</div>
	<a
		class="static md:absolute bottom-0 flex flex-col justify-center text-primary body-01 font-bold items-center space-y-1 p-1 mb-4"
		href="#meet-the-campaign"
		><span>รู้จักแคมเปญ</span>
		<svg width="36" height="16" viewBox="0 0 36 16" fill="none">
			<path d="M1.5 1L18 14L34.5 1" stroke="currentColor" stroke-width="2"
			></path>
		</svg>
	</a>
</section>
