---
import SenateHeroLogo from "./SenateHeroLogo.astro";
import SocialMediaButtons from "../socialMedia/SocialMediaButtons.astro";
import OpenInNew from "../icons/OpenInNew.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import { getCandidates } from "../../data/get_candidates";
import { isProd } from "../../utils/flag";

const candidate_senates = await getCandidates();

const registered_senates = candidate_senates.length;
const updated_at = new Date().toLocaleString("th-TH", {
	year: "numeric",
	month: "short",
	day: "numeric",
	timeZone: "Asia/Bangkok",
});
---

<section class="flex flex-col items-center h-screen bg-secondary">
	<div
		class="flex-1 flex flex-col md:flex-row items-center justify-center gap-10 mt-10 md:mt-0"
	>
		<SenateHeroLogo />
		<div class="flex items-center mx-auto">
			<div class="flex flex-col gap-5">
				<div class="text-center body-02">
					<p class="text-neutral">
						สว. ระบบใหม่ “แบ่งกลุ่มอาชีพ” และ “เลือกกันเอง”
					</p>
					<p class="font-bold text-primary">
						ประชาชนก็เลือกได้ ถ้าเข้าไปสมัคร!
					</p>
				</div>

				{
					!isProd() && (
						<div class="text-center">
							<p class="body-01 text-neutral">มีผู้แสดงตัวเป็นผู้สมัครแล้ว</p>
							<p class="heading-responsive-01 text-neutral leading-[44px]">
								{registered_senates} คน
							</p>
							<p class="body-03 text-neutral">อัปเดตข้อมูล {updated_at}</p>
						</div>
					)
				}

				<div class="flex flex-col justify-center gap-1">
					<a
						class="btn w-full bg-primary text-base-100"
						href="/checklist"
						target="_blank"
						>ฉันสมัคร สว. ได้ไหม? <ArrowRight className="fill-base-100" />
					</a>
					<a
						class="btn w-full bg-primary text-base-100"
						href="https://forms.gle/AiPQPxvqFex2a7Hk8"
						target="_blank"
						>แสดงตัวเป็นผู้สมัคร <OpenInNew className=" fill-base-100" />
					</a>

					{
						!isProd() && (
							<a
								class="btn w-full bg-primary text-base-100"
								href="/candidates"
								target="_blank"
							>
								ค้นหาผู้สมัคร
							</a>
						)
					}
				</div>

				<div class="flex justify-center">
					<SocialMediaButtons className="fill-[#000]" color="#000" />
				</div>
			</div>
		</div>
	</div>
	<a
		class="static md:absolute bottom-0 flex flex-col justify-center text-primary body-01 font-bold items-center space-y-1 p-1 mb-4"
		href="#meet-the-campaign"
		><span>รู้จักแคมเปญ</span>
		<svg width="36" height="16" viewBox="0 0 36 16" fill="none">
			<path d="M1.5 1L18 14L34.5 1" stroke="currentColor" stroke-width="2"
			></path>
		</svg>
	</a>
</section>
