---
import WhoCanApplyFor from "./informationDetailSections/WhoCanApplyFor.astro";
import HowToApplyFor from "./informationDetailSections/HowToApplyFor.astro";
import HowTheSystemWorks from "./informationDetailSections/HowTheSystemWorks.astro";
import WhatTheyDo from "./informationDetailSections/WhatTheyDo.astro";
import Timeline from "./informationDetailSections/Timeline.astro";
---

<section class="bg-primary">
	<div class="mx-auto max-w-5xl px-4 py-20 space-y-[30px]">
		<h1 class="heading-responsive-01 text-base-100 text-center">
			รู้จักแคมเปญ
		</h1>

		<WhoCanApplyFor />

		<HowToApplyFor />

		<HowTheSystemWorks />

		<Timeline />

		<WhatTheyDo />
	</div>
</section>
