---
import WhyDoWeNeedThis from "./informationDetailSections/WhyDoWeNeedThis.astro";
import WhoCanApplyFor from "./informationDetailSections/WhoCanApplyFor.astro";
import HowToApplyFor from "./informationDetailSections/HowToApplyFor.astro";
import HowTheSystemWorks from "./informationDetailSections/HowTheSystemWorks.astro";
import WhatTheyDo from "./informationDetailSections/WhatTheyDo.astro";
import Timeline from "./informationDetailSections/Timeline.astro";
import OpenInNew from "../icons/OpenInNew.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import SocialMediaButtons from "../socialMedia/SocialMediaButtons.astro";
import TableOfContents from "./informationDetailSections/TableOfContents.astro";
import ArrowUp from "../icons/ArrowUp.astro";
import { isProd } from "../../utils/flag";

const contents = [
	{ title: "ทำไมต้องมีแคมเปญนี้", id: "why-do-we-need-this" },
	{ title: "ใครสมัคร สว. ได้บ้าง", id: "who-can-apply-for" },
	{ title: "วิธีสมัคร สว.", id: "how-to-apply-for" },
	{ title: "วิธีคัดเลือก สว.", id: "how-the-system-works" },
	{ title: "ไทม์ไลน์การเลือก สว.", id: "timeline" },
	{ title: "สว. ต้องทำอะไรบ้าง", id: "what-they-do" },
];
---

<section class="bg-primary">
	<div
		class="mx-auto max-w-5xl px-4 py-20 space-y-[30px]"
		id="meet-the-campaign"
	>
		<h1 class="heading-responsive-01 text-base-100 text-center">
			รู้จักแคมเปญ
		</h1>

		<TableOfContents contents={contents} />

		<WhyDoWeNeedThis />

		<WhoCanApplyFor />

		<HowToApplyFor />

		<HowTheSystemWorks />

		<Timeline />

		<WhatTheyDo />

		<div class="space-y-2">
			<a
				href="https://forms.gle/AiPQPxvqFex2a7Hk8"
				class="btn btn-secondary w-full"
			>
				แสดงตัวเป็นผู้สมัคร <OpenInNew className=" fill-[#000]" />
			</a>

			{
				isProd() && (
					<a
						href="/candidates"
						target="_blank"
						class="btn btn-secondary w-full"
					>
						ค้นหาผู้สมัคร <ArrowRight className=" fill-[#000]" />
					</a>
				)
			}
		</div>

		<div class="mx-auto">
			<SocialMediaButtons color="#FCEB71" />
		</div>

		<div
			class="btn-go-to-toc text-center text-info sticky bottom-0 left-0 w-full bg-gradient-to-t from-primary via-primary to-transparent pt-3 hidden md:hidden"
		>
			<a class="btn btn-ghost" href="#meet-the-campaign">
				<span class="underline">กลับด้านบน</span>
				<ArrowUp /></a
			>
		</div>
	</div>
</section>

<script>
	window.addEventListener("scroll", () => {
		const tableOfContents = document.querySelector("#table-of-contents");
		const goToTableOfContentsBtn = document.querySelector(".btn-go-to-toc");
		if (!tableOfContents || !goToTableOfContentsBtn) return;

		if (tableOfContents.getBoundingClientRect().top < 0) {
			goToTableOfContentsBtn.classList.remove("hidden");
		} else {
			goToTableOfContentsBtn.classList.add("hidden");
		}
	});
</script>
