---
const partners = [
	{
		name: "iLaw",
		logo: "/partners/logo-ilaw.png",
	},
	{
		name: "Human Rights Lawyers Association",
		logo: "/partners/logo-hrla.png",
	},
	{
		name: "คณะรณรงค์เพื่อรัฐธรรมนูญฉบับประชาชน",
		logo: "/partners/logo-12.png",
	},
	{
		name: "แนวร่วมธรรมศาสตร์และการชุมนุม",
		logo: "/partners/logo-13.png",
	},
	{
		logo: "/partners/logo-09.png",
		name: "WeVis",
	},
	{
		logo: "/partners/logo-10.png",
		name: "We Watch",
	},
	{
		name: "กป.อพช.",
		logo: "/partners/logo-11.png",
	},
	{
		name: "คปอ.",
		logo: "/partners/logo-11-1.png",
	},
	{
		name: "เครือข่ายแรงงานเพื่อสิทธิประชาชน",
		logo: "/partners/logo-11-2.png",
	},
	{
		name: "FIP",
		logo: "/partners/logo-11-3.png",
	},
	{
		name: "THE PATANI",
		logo: "/partners/logo-11-4.png",
	},
	{
		name: "DRG",
		logo: "/partners/logo-11-5.png",
	},
	{
		logo: "/partners/logo-03.png",
		name: "CALL",
	},
	{
		logo: "/partners/logo-04.png",
		name: "ACT LAB",
	},
	{
		logo: "/partners/logo-04-1.png",
		name: "NEO LANNA",
	},
	{
		name: "กลุ่มนครเสรีเพื่อประชาธิปไตย",
		logo: "/partners/logo-01.png",
	},
	{
		name: "คบเพลิง",
		logo: "/partners/logo-01-1.png",
	},
];
---

<div class="py-10 px-4 flex">
	<div class="mx-auto text-center space-y-5">
		<h2 class="heading-02">ผู้จัดแคมเปญ</h2>
		<div class="flex flex-wrap gap-2 justify-center">
			{
				partners.map((partner) => (
					<img
						src={partner.logo}
						alt={partner.name}
						width="44px"
						height="44px"
					/>
				))
			}
		</div>
	</div>
</div>
