---
import InformationDetailCard from "./InformationDetailCard.astro";
import WeWatchPhoneButton from "../../buttons/WeWatchPhoneButton.astro";
import ECTPhoneButton from "../../buttons/ECTPhoneButton.astro";
import PossibleApplyGroups from "./PossibleApplyGroups.astro";
import OpenInNew from "../../icons/OpenInNew.astro";
import ArrowRight from "../../icons/ArrowRight.astro";
---

<InformationDetailCard id="how-to-apply-for" title="วิธีสมัคร สว.">
	<div class="border-b border-base-300"></div>
	<ol class="flex flex-col md:flex-row">
		<li>
			<span class="heading-02" style="line-height:26px;">
				1. เลือกอำเภอ/เขตที่เคยมีความเกี่ยวข้องด้วย
			</span>
			<div class="body-02 font-normal space-y-1">
				<p>สามารถเลือก 1 อำเภอ/เขตใดก็ได้ที่..</p>
				<ul class="list-disc list-inside ml-2">
					<li><b>เกิด</b></li>
					<li>
						<b>มีชื่ออยู่ในทะเบียนบ้าน</b>ติดต่อกันไม่น้อยกว่า 2 ปี
						(นับถึงวันสมัคร)
					</li>
					<li><b>เคยมีชื่ออยู่ในทะเบียนบ้าน</b>ไม่น้อยกว่า 2 ปี</li>
					<li><b>ทำงาน</b>ติดต่อกันไม่น้อยกว่า 2 ปี</li>
					<li><b>เคยทำงาน</b>ไม่น้อยกว่า 2 ปี</li>
					<li>
						<b>เป็นที่ตั้งของสถานศึกษาที่เคยศึกษา</b> ติดต่อกันไม่น้อยกว่า 2 ปีการศึกษา
					</li>
				</ul>
			</div>
		</li>
		<div class="border-b md:border-l border-base-300 my-4 md:my-0 md:mx-4">
		</div>
		<li>
			<span class="heading-02" style="line-height:26px;"
				>2. เลือกกลุ่มอาชีพ</span
			>
			<div class="body-02 font-normal space-y-1">
				<p>โดยต้องเป็นอาชีพที่ทำ หรือเคยทำติดต่อกันอย่างน้อย 10 ปี</p>
				<ul class="list-decimal list-inside ml-2">
					<li><b>กลุ่มการบริหารราชการแผ่นดินและความมั่นคง</b></li>
					<li><b>กลุ่มกฎหมายและกระบวนการยุติธรรม</b></li>
					<li><b>กลุ่มการศึกษา</b></li>
					<li><b>กลุ่มการสาธารณสุข</b></li>
					<li><b>กลุ่มอาชีพทำนา ทำไร่</b></li>
					<li><b>กลุ่มอาชีพทำสวน เลี้ยงสัตว์ ประมง</b></li>
					<li><b>กลุ่มลูกจ้าง ผู้ใช้แรงงาน</b></li>
					<li>
						<b>กลุ่มผู้ประกอบอาชีพด้านสิ่งแวดล้อม อสังหาริมทรัพย์ พลังงาน</b>
					</li>
					<li><b>กลุ่มผู้ประกอบกิจการ SMEs</b></li>
					<li><b>กลุ่มผู้ประกอบกิจการอื่น</b></li>
					<li><b>กลุ่มผู้ประกอบธุรกิจหรืออาชีพด้านการท่องเที่ยว </b></li>
					<li><b>กลุ่มผู้ประกอบอุตสาหกรรม </b></li>
					<li><b>กลุ่มผู้ประกอบอาชีพด้านวิทยาศาสตร์ เทคโนโลยี</b></li>
					<li><b>กลุ่มสตรี</b></li>
					<li>
						<b
							>กลุ่มผู้สูงอายุ คนพิการหรือทุพพลภาพ กลุ่มชาติพันธุ์
							กลุ่มอัตลักษณ์อื่น</b
						>
					</li>
					<li><b>กลุ่มศิลปะ วัฒนธรรม ดนตรี การแสดงและบันเทิง นักกีฬา</b></li>
					<li><b>กลุ่มประชาสังคม องค์กรสาธารณประโยชน์</b></li>
					<li><b>กลุ่มสื่อสารมวลชน นักเขียน</b></li>
					<li><b>กลุ่มผู้ประกอบวิชาชีพ ผู้ประกอบอาชีพอิสระ</b></li>
					<li><b>กลุ่มอื่น ๆ</b></li>
				</ul>
			</div>
		</li>
	</ol>

	<PossibleApplyGroups />

	<a
		class="mx-auto inline-flex content-center items-center gap-2 text-accent underline"
		href="https://www.ilaw.or.th/articles/21466"
		target="_blank">อ่านวิธีเตรียมตัวสมัครเพิ่มเติม <OpenInNew /></a
	>
	<a
		class="mx-auto inline-flex content-center items-center gap-2 text-accent underline"
		href="https://www.ilaw.or.th/articles/16805"
		target="_blank">ดาวน์โหลดคู่มือผู้สมัคร <OpenInNew /></a
	>
	<a
		class="mx-auto inline-flex content-center items-center gap-2 text-accent underline"
		href="https://drive.google.com/drive/folders/1_pWE_P7pxTWWQnejbdKRzzCoC2RuvfmD?usp=sharing"
		target="_blank">ดาวน์โหลด Material สว. 67 <OpenInNew /></a
	>

	<p class="text-center">หากยังมีข้อสงสัย โทรปรึกษาได้ที่</p>
	<WeWatchPhoneButton />
	<p class="text-center">หรือโทรถาม กกต. โดยตรง</p>
	<ECTPhoneButton />

	<p class="text-center">
		เพื่อประกอบการพิจารณา ลองสำรวจผู้สมัครคนอื่นๆ
		ในพื้นที่และกลุ่มอาชีพเดียวกับคุณดู
	</p>
	<a class="btn btn-secondary w-full" href="candidates" target="_blank">
		ค้นหาผู้สมัคร
		<ArrowRight />
	</a>
</InformationDetailCard>
