---
import InformationDetailCard from "./InformationDetailCard.astro";
import LevelAmphoe from "./LevelAmphoe.astro";
import LevelProvince from "./LevelProvince.astro";
import LevelCountry from "./LevelCountry.astro";
---

<InformationDetailCard
	title="วิธีคัดเลือก สว."
	subtitle="แบบ “เลือกกันเอง” และ “เลือกไขว้”"
>
	<p class="text-center">
		พ.ร.ป.สว.ฯ มาตรา 40-42 ออกแบบการเลือก สว. เป็นสามระดับ ดังนี้
	</p>

	<img
		src="/selecting-system-overview.svg"
		alt=""
		width="260px"
		class="mx-auto"
	/>

	<div class="flex flex-col md:flex-row">
		<LevelAmphoe />

		<LevelProvince />

		<LevelCountry />
	</div>
</InformationDetailCard>
