---
const { title, subtitle, id } = Astro.props;
---

<div
	id={id}
	class="flex flex-col rounded-[5px] bg-base-100 p-5 md:p-10 gap-[10px]"
>
	<h1 class="heading-01 leading-8 text-primary text-center">{title}</h1>
	{subtitle && <p class="body-01 text-primary text-center">{subtitle}</p>}
	<slot />
</div>
