---
import StarHappy from "../../icons/StarHappy.astro";
---

<div class="space-y-3 mx-5">
	<p>
		ทำขั้นตอน 1-3 เหมือนกับระดับอำเภอ ยกเว้นขั้นตอนสุดท้ายที่เลือกผู้ชนะเพียง 2
		อันดับแรก
	</p>

	<div class="bg-secondary py-1 flex justify-center">
		<p class="inline-flex items-center gap-2 text-center">
			<StarHappy /><span>ผู้ชนะ = <b>2 อันดับแรก</b>ของแต่ละกลุ่ม</span>
		</p>
	</div>

	<img
		src="/selecting-sytem/top-2-winners-province.svg"
		alt="ผู้ชนะคือ 2 อันดับแรกของกลุ่ม"
		class="mx-auto"
	/>
</div>
