---
import InformationDetailCard from "./InformationDetailCard.astro";
---

<InformationDetailCard
	id="timeline"
	title="ไทม์ไลน์การเลือก สว."
	subtitle="จะเสร็จภายใน 2 เดือน"
>
	<table class="border-collapse border-spacing-2 max-w-[400px] mx-auto">
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				><b>11 พ.ค.</b></td
			>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				>สว. ชุดเดิม<b class="text-accent">หมดอายุ</b></td
			>
		</tr>
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top">
				<p><b>12 พ.ค.</b></p>
				<p class="body-03 opacity-60 text-neutral">(อย่างเร็ว)</p>
			</td>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top">
				<p>ออกพระราชกฤษฎีกาให้เลือก สว. ชุดใหม่*</p>
				<p class="body-03 opacity-60 text-neutral">
					*หากตราพระราชกฤษฎีกาช้า กรอบเวลาก็จะช้าออกไป
				</p>
			</td>
		</tr>
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top">
				<p><b>27&nbsp;พ.ค. - 2&nbsp;มิ.ย.</b></p>
				<p class="body-03 opacity-60 text-neutral">(ประมาณ)</p>
			</td>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				><b class="text-accent">เปิดรับสมัคร</b>ผู้ประสงค์เป็น สว.</td
			>
		</tr>
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				><b>22 มิ.ย.</b></td
			>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				>เลือกระดับ<b class="text-accent">อำเภอ</b></td
			>
		</tr>
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				><b>+7 วัน</b></td
			>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				>เลือกระดับ<b class="text-accent">จังหวัด</b></td
			>
		</tr>
		<tr>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				><b>+10 วัน</b></td
			>
			<td class="border-b border-base-300 py-[5px] pr-5 align-top"
				>เลือกระดับ<b class="text-accent">ประเทศ</b></td
			>
		</tr>
		<tr>
			<td>
				<p><b>14 ก.ค.</b></p>
				<p class="body-03 opacity-60 text-neutral">(อย่างเร็ว)</p>
			</td>
			<td>ประกาศผลผู้ได้เป็น สว.</td>
		</tr>
	</table>
</InformationDetailCard>
