---
import InformationDetailCard from "./InformationDetailCard.astro";
---

<InformationDetailCard
	id="timeline"
	title="ไทม์ไลน์การเลือก สว."
	subtitle="จะเสร็จภายใน 2 เดือน"
>
	<table class="border-collapse border-spacing-2 max-w-[400px] mx-auto">
		<tr>
			<td class="whitespace-nowrap"><b>11 พ.ค.</b></td>
			<td
				>สว. ชุดเดิม<b class="text-accent">หมดอายุ</b> ออกพระราชกฤษฎีกาให้เลือก สว.
				ชุดใหม่</td
			>
		</tr>
		<tr>
			<td class="whitespace-nowrap"><b>13 พ.ค.</b></td>
			<td>ประกาศกำหนดวันรับสมัคร สว. (รู้วันรับสมัคร)</td>
		</tr>
		<tr>
			<td></td>
			<td
				><b class="text-accent">รับสมัคร</b>ผู้ประสงค์อยากเป็น สว.
				ระยะเวลาห้าถึงเจ็ดวัน</td
			>
		</tr>
		<tr>
			<td class="whitespace-nowrap"><b>9 มิ.ย.</b></td>
			<td>เลือกระดับ<b class="text-accent">อำเภอ</b></td>
		</tr>
		<tr>
			<td class="whitespace-nowrap"><b>16 มิ.ย.</b></td>
			<td>เลือกระดับ<b class="text-accent">จังหวัด</b></td>
		</tr>
		<tr>
			<td><b>26 มิ.ย.</b></td>
			<td>เลือกระดับ<b class="text-accent">ประเทศ</b></td>
		</tr>
		<tr>
			<td class="whitespace-nowrap">
				<b>2 ก.ค.</b>
			</td>
			<td>กกต. ประกาศผลการเลือก สว.</td>
		</tr>
	</table>
</InformationDetailCard>

<style scoped lang="postcss">
	td {
		@apply border-b border-base-300 py-[5px] pr-5 align-top;
	}
</style>
