---
import InformationDetailCard from "./InformationDetailCard.astro";
---

<InformationDetailCard
	title="สว. ต้องทำอะไรบ้าง"
	subtitle="จะต้องสานต่อภารกิจประชาธิปไตย"
>
	<p>
		นอกจากจะต้องมีสัญชาติไทยโดยกำเนิ อายุ 40 ปีขึ้นไปนับจากวันสมัคร และมีความรู้
		ความเชี่ยวชาญ และประสบการณ์หรือ ทำงานด้านที่สมัคร ไม่น้อยกว่า 10 ปีแล้ว
		ยังมีคุณสมบัติต้องห้ามอีกจำนวนหนึ่งที่ต้องพิจารณา
	</p>

	<p>เพื่อความสะดวก เราได้เตรียมเกมไว้ให้คุณลองเช็คแล้ว</p>
</InformationDetailCard>
