<div
	id="why-do-we-need-this"
	class="body-01 text-center space-y-5 md:space-y-[30px] text-base-100"
>
	<h1 class="heading-01 text-secondary">ทำไมต้องมีแคมเปญนี้</h1>
	<p class="max-w-[650px] mx-auto">
		ระบบการคัดเลือกสว. ในปี 2567 เป็นระบบพิเศษที่จะใช้ครั้งแรกในโลก
		เรียกสั้นๆว่า ระบบ <b>“แบ่งกลุ่มอาชีพ”</b> และ <b>“เลือกกันเอง”</b>
		ออกแบบไว้โดยคนที่เขียนรัฐธรรมนูญ 2560
	</p>

	<img
		class="mx-auto"
		src="/two-people-vote.svg"
		alt="Illustration portraying candidates saying Vote! in Thai"
	/>

	<p class="max-w-[650px] mx-auto">
		ระบบการเลือกกันเองระหว่างผู้สมัคร จากระดับอำเภอและจังหวัด
		เอื้อสำหรับคนที่มีเครือข่าย และมีอิทธิพลอยู่ในพื้นที่
		ระบบการคัดเลือกหลายรอบและค่าธรรมเนียม 2,500 บาทเป็นข้อจำกัด
		สำหรับคนที่ทำงานหาเช้ากินค่ำและไม่มีเงินทอง
	</p>

	<p class="max-w-[650px] mx-auto">
		ระบบนี้จึงเป็นการคัดเลือก สว. จากคนที่ <b class="text-secondary"
			>“มีเพื่อน มีเงิน และมีเวลา”</b
		>
		เอื้อสำหรับคนที่มีอำนาจจัดตั้งคนไปสมัครและโหวตเลือกพวกเดียวกันเอง
	</p>

	<p class="max-w-[650px] mx-auto">
		แต่ผลลัพธ์สุดท้ายอาจ “ล็อก” ไม่ง่าย หากมีผู้สมัครเข้าร่วมกระบวนการจำนวนมาก
		คนที่สมัคร เข้าไปอย่าง “อิสระ” ก็จะออกเสียงได้ตามเจตจำนงของตัวเอง
	</p>

	<p class="max-w-[650px] mx-auto">
		<b class="text-secondary">
			ยิ่งมีคนสมัครมาก ก็ยิ่งเกิดการ มีส่วนร่วมมาก ทำลายโอกาสของกลุ่ม “จัดตั้ง”
			และเพิ่มโอกาสได้ สว. ที่เป็นตัวแทนจาก ความคิดเห็นหลากหลายมากขึ้น
		</b>
	</p>

	<div class="heading-02 text-primary">
		<span class="bg-secondary py-2 px-5">สมัคร สว. ≠ อยากเป็น สว.​ เอง</span>
	</div>

	<p>สมัคร สว. เพื่อ มีสิทธิมีเสียง ได้ดังนี้</p>

	<img
		class="mx-auto"
		src="/person-surprised-by-what-they-can-do.svg"
		alt="Illustration of a person surprised by what they can do"
	/>

	<ul class="flex flex-col md:flex-row gap-5">
		<li>
			<p class="heading-02 mb-2">ลงคะแนนโหวต</p>
			<p>
				ผู้สมัครหนึ่งคน จะได้ออกเสียงโหวตให้กับกลุ่มอาชีพตัวเอง อย่างน้อย 2
				เสียง ถ้าเข้ารอบก็จะได้โหวตให้กลุ่มอาชีพอื่นๆ อีก
				เป็นช่องทางเดียวที่จะได้มีส่วนเลือกคนที่มีอุดมการณ์สอดคล้องตรงกัน
			</p>
		</li>
		<li>
			<p class="heading-02 mb-2">ลุ้นเข้ารอบ</p>
			<p>
				ถ้าผู้สมัครเข้ารอบระดับจังหวัด ก็จะได้โหวตอีกหลายเสียง
				และถ้าได้เข้ารอบระดับประเทศ จะได้ออกเสียงมากสุดรวมถึง 42 โหวต
				มีน้ำหนักมากในการตัดสินผู้จะเป็น สว. จริงๆ หรืออาจจะได้เป็น สว.
				เพื่อไปผลักดันความฝันของตัวเอง
			</p>
		</li>
		<li>
			<p class="heading-02 mb-2">จับตา</p>
			<p>
				ผู้สมัครที่ได้เข้าร่วมกระบวนการยังมีโอกาสช่วยกัน “จับตา”
				สังเกตสิ่งผิดปกติหากมีการ “จัดตั้ง” หรือ “ล็อกผล” ในกลุ่มผู้สมัครคนอื่น
				และเป็นกลไกเดียวที่อาจป้องกันหรือเปิดโปงการโกงได้
			</p>
		</li>
	</ul>
</div>
