---
const { number } = Astro.props;
---

<div class="flex items-center">
	<div class="w-[60px] h-[1px] bg-neutral"></div>
	<div
		class="w-10 h-10 border border-neutral rounded-full heading-02 flex items-center justify-center"
	>
		{number}
	</div>
	<div class="w-[60px] h-[1px] bg-neutral"></div>
</div>
