---
const { title, description } = Astro.props;
---

<div class="flex flex-col px-[16px]">
	<div class="flex pb-[12px]">
		<img src="/checkbox.svg" alt="checkbox" class="w-[20px] h-[20px]" />
		<div class="ml-[10px]">
			<p class="body-01 text-base-100 font-bold">{title}</p>
			{description && <p class="body-02 text-base-100">{description}</p>}
		</div>
	</div>
	<div class="w-full h-[1px] border-primary-focus border-solid border-b-[1px]">
	</div>
</div>
