---
const { title } = Astro.props;
---

<div>
	<p></p>
	<div class="flex">
		<select class="select w-full max-w-xs">
			<option disabled selected>เลือกจังหวัด</option>
			<option>Homer</option>
			<option>Marge</option>
			<option>Bart</option>
			<option>Lisa</option>
			<option>Maggie</option>
		</select>
		<select class="select w-full max-w-xs">
			<option disabled selected>อำเภอ/เขต</option>
			<option>Homer</option>
			<option>Marge</option>
			<option>Bart</option>
			<option>Lisa</option>
			<option>Maggie</option>
		</select>
	</div>
</div>
