---
import QuestionLabel from "../checklist/QuestionLabel.astro";
import DistrictSelector from "./DistrictSelector.astro";
---

<section
	class="flex flex-col bg-secondary items-center space-y-[20px] px-[16px] py-[20px]"
>
	<QuestionLabel number={1} />
	<h2 class="heading-01 text-neutral text-center">
		คุณเคยเกี่ยวข้องกับอำเภอ/เขตไหนบ้าง
	</h2>
	<div>
		<DistrictSelector
			title="อำเภอ/เขตที่คุณเกิด (ที่ตั้งโรงพยาบาล หรือสถานที่ในสูติบัตร)"
		/>
	</div>
</section>
