---
const { title, canAppend } = Astro.props;
---

<div class="md:max-w-[650px] w-full space-y-[10px]">
	<p class="body-01 font-bold">{title}</p>
	<div class="flex space-x-[2px]">
		<select class="select w-full body-01">
			<option disabled selected>เลือกจังหวัด</option>
			<option>Homer</option>
			<option>Marge</option>
			<option>Bart</option>
			<option>Lisa</option>
			<option>Maggie</option>
		</select>
		<select class="select w-full body-01">
			<option disabled selected>อำเภอ/เขต</option>
			<option>Homer</option>
			<option>Marge</option>
			<option>Bart</option>
			<option>Lisa</option>
			<option>Maggie</option>
		</select>
	</div>
	<!-- if canAppend show div -->
	{
		canAppend && (
			<button class="btn btn-outline btn-primary w-full">
				เพิ่มอีก 1 อำเภอ/เขต
			</button>
		)
	}
</div>
