---
import SenateLogo from "./SenateLogo.astro";

const navigationRoutes = [{ name: "หน้าหลัก", url: "/" }];

if (import.meta.env.PUBLIC_BUILD_TARGET !== "production") {
	navigationRoutes.push({ name: "ค้นหาผู้สมัคร", url: "/search" });
	navigationRoutes.push({ name: "Checklist Game", url: "/checklist" });
	navigationRoutes.push({ name: "ผลการเลือกตั้ง", url: "/result" });
}
---

<div class="navbar bg-neutral top-0 fixed min-h-10">
	<div class="flex-1">
		<SenateLogo />
	</div>
	<div class="flex-none body-03 text-base-100 hidden md:block">
		{
			navigationRoutes.map((route) => {
				return (
					<a class="btn btn-ghost no-animation" href={route.url}>
						{route.name}
					</a>
				);
			})
		}
	</div>
</div>
