---
import FacebookLogo from "./FacebookLogo.astro";
import XLogo from "./XLogo.astro";
import LineLogo from "./LineLogo.astro";
---

<div class="flex gap-2">
	<FacebookLogo />
	<XLogo />
	<LineLogo />
</div>
